<% layout('layouts/boilerplate')%>
<h1>Edit a charter</h1>
<form action="/charters/<%=charter._id%>?_method=PUT" method="POST">
  <div>
    <label for="charterName">Name</label>
    <input type="text" id="charterName" name="charter[name]" value="<%=charter.name%>" />
  </div>
  <div>
    <label for="charterLocation">Location</label>
    <input type="text" id="charterLocation" name="charter[location]" value="<%=charter.location%>" />
  </div>
  <button>Update Charter</button>
</form>
<a href="/charters/<%= charter._id%> ">Back To Charter</a>
