<% layout('layouts/boilerplate')%>
<h1>All Charters</h1>
<div>
  <a href="/charters/new">Add Charter</a>
</div>
<ul>
  <% for (let charter of charters){%>
  <li><a href="/charters/<%=charter._id%>"><%= charter.name%></a></li>
  <%}%>
</ul>
