<% layout('layouts/boilerplate')%>
<h1>enter a new charter</h1>
<form action="/charters" method="POST">
  <div>
    <label for="charterName">Name</label>
    <input type="text" id="charterName" name="charter[name]" />
  </div>
  <div>
    <label for="charterLocation">Location</label>
    <input type="text" id="charterLocation" name="charter[location]" />
  </div>
  <button>Add Charter</button>
</form>
<a href="/charters">Back To Charters</a>
